* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #eff0f0;

}

.navbar {
    display: flex;
    align-items : center;
    background-color: #43281c;
    justify-content: center;
    margin: 5px;
    /* height: 100px; */
    /* width: 1400px; */
}

.navbar img {
    width: 27px;
    height: 27px;
    margin-right: 6px;
}
.navbar h1 {
    color: #f8efc0;
}
.box1 {
    /* border: 2px solid black; */
    width: 500px;
    height: 320px;
    padding: 8px ;
    background-color: #eee1d5;
    border-radius: 5px;
    box-shadow: 2px 3px 2px 2px rgb(205, 203, 203);
}
.layout_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 1100px;
    border-radius: 30px;
    /* border: 2px solid black; */
    margin: 30px;
}
.box_payment {
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 420px;
    /* border: 2px solid black;    */
    justify-content: space-between; 

}
.box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #eee1d5;
    border-radius: 5px;
    /* border: 2px solid black; */
    padding: 8px 8px 8px 8px;
    box-shadow: 2px 3px 2px 2px rgb(205, 203, 203)
}
.box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee1d5;
    border-radius: 5px;
    /* border: 2px solid black; */
    padding: 8px;
    height: 215px;
    box-shadow: 2px 3px 2px 2px rgb(205, 203, 203)
}

.box4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    margin-top: 100px;
}

button {
    background-color: #deb993;
    width: 850px;
    height: 40px;
    color: #4f5137;
    border-radius: 100px;
}
.input-card {
    border-radius: 100px;
    background-color: #eee1d5;
    height: 30px;
    border: none;
    outline: none;
}

.input-fieldset {
    border-radius: 100px;
    /* margin-top: -25px; */
}
#ccv-width {
    width: 30px;
}
.word-color {
    color: #a07a56;
}
hr {
    border: solid 1px;
    color: #a07a56;
    width: 490px;
}